/*!
 *  build: admin-pro 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2021-11-7 15:40:52
 */[data-v-179435c7]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.pdfbook p[data-v-179435c7]{margin:0;padding:0;line-height:25px;font-size:16px;width:100%;color:#ff4d4f}.pdfbook p[data-v-179435c7]:first-child{text-align:right;margin-bottom:5px}.pdfbook p a[data-v-179435c7]{color:#ff4d4f;width:100%}